<div class="container-fluid page">
  <br/><br/><br/>
  <div class="ui secondary menu">
    <a class="item" ui-sref="layout.jobs">
      Jobs
    </a>
    <a class="item" ui-sref="layout.orgs">
      Organizations
    </a>
    <a class="item" ui-sref="layout.locs">
      Locations
    </a>
    
    <div class="right menu">
      <div class="item">
        <div class="ui positive buttons">
        <a class="ui button" style="margin-right:5px;" ui-sref="layout.upload">Upload file</a>
        <a class="ui button" style="margin-right:5px;" ui-sref="layout.notify">Chrome Notifications</a>
        <a class="ui button" style="margin-right:5px;" ui-sref="layout.htmlEdit">Text Editor</a>
        </div>
      </div>
    </div>
  </div>
</div>

