<div class="container-fluid">
  <br/><br/><br/><br/><br/>
    <div class="col-sm-12 col-md-12">
      <div class="col-sm-4 col-md-3">
        <div class="mini-submenu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>
        <div class="list-group">
            <span ui-sref="layout.addJob" class="list-group-item active">
                Job
            </span>
            <a ui-sref="layout.listDetails" class="list-group-item">
                Post Details
            </a>
            <a ui-sref="layout.listLifecycle" class="list-group-item">
                Life Cycle Details
            </a>
            <a ui-sref="layout.editFilter" class="list-group-item">
                Filters
            </a>
            <a ui-sref="layout.listEli" class="list-group-item">
                Eligibility 
            </a>
            <a ui-sref="layout.listTag" class="list-group-item">
                Tags 
            </a>
            <a ui-sref="layout.listRef" class="list-group-item">
                References
            </a>
            <a ui-sref="layout.listContent" class="list-group-item">
                Other Contents
            </a>
            <a ui-sref="layout.listLang" class="list-group-item">
                Language Test
            </a><br/>
            <center><a class="btn btn-primary" ng-click="previewLink(id)">Preview</a>
            <a class="btn btn-success" ng-click="publishLink(id)">Publish</a></center>
        </div>        
      </div>
      <div class="col-sm-8 col-md-9">
        <form class="ui form" name="tForm">
          <h4 class="ui dividing header">Tag Info</h4>
          <div class="ui info message">Fields marked with asterisk (*) are mandatory</div>

          <div class="field">
            <label for="tag">Tag (*)</label>
            <input type="text" ng-model="jobTag.tag" name="tag" required/>
            <span ng-if="tForm.tag.$touched && tForm.tag.$invalid">Please Enter Value</span>
          </div>

          <div class="fields">
            <div class="five wide field">
              <label>Tag Type (*)</label>
              <select ng-model="jobTag.tagType" name="type" required>
                <option value="Organization Type">Organization Type</option>
                <option value="Department">Department</option>
                <option value="Industry">Industry</option>
                <option value="Business Group">Business Group</option>
                <option value="Internal">Internal</option>
                <option value="General">General</option>
                <option value="Location">Location</option>
                <option value="Post Type">Post Type</option>
              </select>
              <span ng-if="tForm.type.$touched && tForm.type.$invalid">Please Enter Value</span>
            </div>

            <div class="two wide field">
              <label for="isPublished">Is Published</label>
              <input type="checkbox" ng-model="jobTag.isPublished"/>
            </div>
    
            <div class="two wide field">
              <label for="isActive">Is Active</label>
              <input type="checkbox" ng-model="jobTag.isActive"/>
            </div>
          </div>
          <div ng-if="jobTag.id!=0">
            <button type="submit" class="ui button" ng-click="tForm.$valid && saveJobTags(jobTag)">Submit</button>
          </div>
          <div ng-if="jobTag.id==0">
            <button type="submit" class="ui button" ng-click="tForm.$valid && createJobTag(jobTag)">Submit</button>
          </div>
        </form>
      </div>
  </div>
</div>
</div><!-- ui grid -->
</div>
</div> 