<div class="container-fluid page">
  <br/><br/><br/><br/><br/>
    <div class="col-sm-12 col-md-12">
      <div class="col-sm-4 col-md-3">
        
        <div class="list-group">
            <span ui-sref="layout.addJob" class="list-group-item active">
                Job
            </span>
            <a ui-sref="layout.listDetails" class="list-group-item">
                Post Details
            </a>
            <a ui-sref="layout.listLifecycle" class="list-group-item">
                Life Cycle Details
            </a>
            <a ui-sref="layout.editFilter" class="list-group-item">
                Filters
            </a>
            <a ui-sref="layout.listEli" class="list-group-item">
                Eligibility 
            </a>
            <a ui-sref="layout.listTag" class="list-group-item">
                Tags 
            </a>
            <a ui-sref="layout.listRef" class="list-group-item">
                References
            </a>
            <a ui-sref="layout.listContent" class="list-group-item">
                Other Contents
            </a>
            <a ui-sref="layout.listLang" class="list-group-item">
                Language Test
            </a><br/>
            <center><a class="btn btn-primary" ng-click="previewLink(id)">Preview</a>
            <a class="btn btn-success" ng-click="publishLink(id)">Publish</a></center>
        </div>        
      </div>
      <div class="col-sm-8 col-md-9">
        <form class="ui form">
          <h4 class="ui dividing header">Filter Info</h4>
          <div class="ui info message">Fields marked with asterisk (*) are mandatory</div>

          <div class="equal width fields">
            <div class="field">
              <label for="hasWrittenTest">Has Written Test?</label>
              <input type="checkbox" ng-model="jobFilter.hasWrittenTest"/>
            </div>

            <div class="field">
              <label for="hasInterview">Has Interview?</label>
              <input type="checkbox" ng-model="jobFilter.hasInterview"/>
            </div>

            <div class="field">
              <label for="hasMedicalCheck">Has Medical Check?</label>
              <input type="checkbox" ng-model="jobFilter.hasMedicalCheck"/>
            </div>

            <div class="field">
              <label for="hasLanguageTest">Has Language Test?</label>
              <input type="checkbox" ng-model="jobFilter.hasLanguageTest"/>
            </div>

            <div class="field">
              <label for="hasLocation">Has Location?</label>
              <input type="checkbox" ng-model="jobFilter.hasLocation"/>
            </div>
          </div>

          <div class="equal width fields">
            <div class="field">
              <label for="hasOnlineTest">Has Online Test?</label>
              <input type="checkbox" ng-model="jobFilter.hasOnlineTest"/>
            </div>

            <div class="field">
              <label for="applyOnline">Can Apply Online?</label>
              <input type="checkbox" ng-model="jobFilter.applyOnline"/>
            </div>

            <div class="field">
              <label for="hasPhysicalTest">Has Physical Test?</label>
              <input type="checkbox" ng-model="jobFilter.hasPhysicalTest"/>
            </div>

            <div class="field">
              <label for="isSalaryNegotiable">Is Salary Negotiable?</label>
              <input type="checkbox" ng-model="jobFilter.isSalaryNegotiable"/>
            </div>

            <div class="field">
              <label for="isRenewable">Is renewable?</label>
              <input type="checkbox" ng-model="jobFilter.isRenewable"/>
            </div>
          </div>

          <div class="equal width fields">
            <div class="field">
              <label for="isPopular">Is popular?</label>
              <input type="checkbox" ng-model="jobFilter.isPopular"/>
            </div>

            <div class="field">
              <label for="isPublished">Is Published</label>
              <input type="checkbox" ng-model="jobFilter.isPublished"/>
            </div>

            <div class="field">
              <label for="isActive">Is Active</label>
              <input type="checkbox" ng-model="jobFilter.isActive"/>
            </div>

          </div> <!-- equal width fields -->

          <div class="fields">
            <div class="six wide field">
              <label for="employmentType">Employment Type</label>
              <select ng-model="jobFilter.employmentType">
                <option value="Regular">Regular</option>
                <option value="Contract">Contract</option>
                <option value="Internship">Internship</option>
                <option value="Deputation">Deputation</option>
                <option value="Unspecified">Unspecified</option>
              </select>
            </div>

            <div class="five wide field">
              <label for="gender">Gender</label>
              <select ng-model="jobFilter.gender">
                 <option value="Any">Any</option>
                 <option value="Male">Male</option>
                 <option value="Female">Female</option>
                 <option value="TransGender">TransGender</option>
                 <option value="Unspecified">Unspecified</option>
              </select>
            </div>

            <div class="four wide field">
              <label for="needsExperience">Needs Experience?</label>
              <select ng-model="jobFilter.needsExperience">
                 <option value="Yes">Yes</option>
                 <option value="No">No</option>
                 <option value="Unspecified">Unspecified</option>
              </select>
            </div>
          </div>
          <a class="ui button" ng-click="saveJobFilter(jobFilter)">Submit</a>
        </form>
      </div>
  </div>
</div>
</div><!-- ui grid -->
</div>
</div>